[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"
mypy = "*"

[packages]
thoth-storages = "*"
click = "*"
thoth-common = "*"

[requires]
python_version = "3.8"
